a {
    text-decoration: none;
}

h1 {
    font-size: var(--h1-font-size);
    color: #1db954;
}

h2 {
    color: #1db954;
    padding-bottom: 10px;
}

p {
    font-size: var(--content-font-size);
    line-height: 2.25rem;
    margin: 1rem 0;
}

img {
    margin: 16px auto;
    max-inline-size: 80%;
    block-size: auto;
}

article h1 {
    padding-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

sup {
    line-height: 0;
    width: fit-content;
}

blockquote {
    margin: 0 2rem;
    color: #d1c9c9;
}

blockquote > p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.footnote {
    font-size: 0.75rem;
    margin: 1rem 0;
}
