---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div id="pageWrapper">
        <p>
            Hey, I'm Blaine! I'm a DMV-based software developer with an interest
            in the web, sustainable infrastructure, and pro tennis.
        </p>
        <p>Email: blnob567@gmail.com</p>
        <div>
            <a
                href="https://www.linkedin.com/in/blaine-o-brien-1ab36a110/"
                target="_blank"
                class="pageLink">LinkedIn</a
            >
            <a
                href="https://github.com/BlaineOb"
                target="_blank"
                class="pageLink">GitHub</a
            >
        </div>
    </div>
</Layout>

<style>
    a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.5rem;
        padding-right: 10px;
    }

    a:hover {
        color: darkgray;
    }

    p {
        margin-right: var(--default-margin);
        font-size: var(--content-font-size);
    }

    #pageWrapper {
        margin-left: var(--default-margin);
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>
