---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
const sortedPosts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.publishDate).getTime() -
        new Date(a.data.publishDate).getTime(),
);
---

<Layout>
    <main role="main">
        <ul role="list">
            {
                sortedPosts.map((post: any) => (
                    <li role="listitem">
                        <a href={`/${post.id}/`} class="pageLink">
                            {post.data.title}
                        </a>
                        <p>{post.data.publishDate}</p>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>

<style>
    ul {
        list-style-type: none;
        margin: 0 0 0 var(--default-margin);
        padding: 0;
    }

    li {
        margin-top: 20px;
    }

    a {
        font-size: 2rem;
    }

    p {
        font-size: var(--content-font-size);
        font-style: italic;
    }
</style>
