---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
const sortedPosts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.publishDate).getTime() -
        new Date(a.data.publishDate).getTime(),
);
---

<Layout>
    <main role="main">
        <ul role="list">
            {
                sortedPosts.map((post: any) => (
                    <li role="listitem">
                        <a href={`/${post.id}/`} class="pageLink">
                            {post.data.title}
                            <p style="color: white">{post.data.publishDate}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>

<style>
    ul {
        list-style-type: none;
        margin: 0 0 0 var(--default-margin);
        padding: 0;
    }

    li {
        margin-top: 20px;
        width: fit-content;
        border-radius: 8px;
        transition-property: background-color;
        transition-duration: 0.15s;
    }

    li:hover {
        background-color: #333131;
    }

    @media (max-width: 550px) {
        li {
            margin-right: 10%;
        }
    }

    a {
        display: block;
        width: fit-content;
        font-size: 2rem;
        padding: 8px 16px;
    }

    p {
        font-size: var(--content-font-size);
        font-style: italic;
    }
</style>
